input,
select {
	border-radius: $border-radius-round;
	padding: $padding-sm;
	border: none;
	color: $color-grey-700;
	background-color: $color-grey-50;
	@media (max-width: 60em) {
		font-size: 100%;
	}
	@media (max-width: 37em) {
		font-size: 90%;
	}
	@media (max-width: 26.25em) {
		width: 9rem;
	}

	&::placeholder {
		color: $color-grey-500;
		font-weight: 500;
	}
}
