.section__actions {
	display: grid;
	grid-template-rows: [header-start] min-content [header-end] 25fr [balance-start] max-content [balance-end] 20fr [action-nav-start] max-content [action-nav-end] 10fr [action-start] max-content [action-end] 25fr [message-start] 4.2rem [message-end] 25fr;
}

.actions {
	&__main {
		grid-row: balance-start / balance-end;
		display: flex;
		justify-content: space-between;

		// margin-top: $gutter-space-md;

		p {
			font-size: 2.8rem;
			font-weight: 600;
		}

		canvas {
			// background-color: rebeccapurple;
			cursor: pointer;
		}
	}

	&__actions {
		grid-row: action-nav-start / action-nav-end;
		--index: 0;

		position: relative;

		ul {
			display: flex;

			border: $border;
			padding: $padding-xs;
			border-radius: $border-radius-round;
			justify-items: center;
			align-items: center;

			li {
				flex: 50%;

				display: flex;
				justify-content: center;
				padding: $padding-xs;
			}

			button {
				font-size: 1.4rem;
				color: $color-grey-500;
				width: 100%;
				height: 100%;

				z-index: 2;

				transition: color 0.261s 0.1s $ez-bz-2;
			}
			button[aria-selected="true"] {
				color: $color-main-light-blue;
			}
		}
	}

	&__indicator {
		position: absolute;
		top: 50%;
		left: 0;

		transform: translate(
			calc(0.2rem + 0.4rem + 0.4rem + (100% * var(--index))),
			calc(-50%)
		);

		height: 2.9rem;
		width: 12.5rem;
		border-radius: $border-radius-round;
		background-color: $color-main-blue;

		transition: transform 0.261s $ez-bz-2;
	}

	&__send-tab {
		grid-row: action-start / action-end;
		margin-top: auto;

		display: grid;
		row-gap: $gutter-space-xs;
	}

	&__message {
		grid-row: message-start / message-end;

		font-size: 1.4rem;
		font-weight: 600;
		align-self: center;
		justify-self: center;

		text-align: center;
	}
}
.wiggle {
	animation: wiggle 0.681s $ez-bz-2;
}

@keyframes wiggle {
	0% {
		transform: translateX(0rem);
	}

	25% {
		transform: translateX(-1rem);
	}

	50% {
		transform: translateX(0.5rem);
	}

	75% {
		transform: translateX(-0.25rem);
	}

	100% {
		transform: translateX(0rem);
	}
}
